<div id="all">
    <a class="a_admin" href="/add">Dodaj nowy film</a>
    <a class="a_admin" href="/clear">Przeglądaj wszystkie filmy</a>
    <a class="a_admin" href="/">Powrót na stronę główną</a>
</div>
